
@import url('https://fonts.googleapis.com/css?family=Prompt:200,300');
*{
  font-family: 'Prompt', sans-serif;
}
a{
  cursor: pointer;
}
body{
    background: rgba(236,239,241,.05);
}
hr{
  border: solid .5px #ccc;
}
.swal2-container{
  z-index: 9999 !important;
}
.row{
  margin:5px 0px;
}
.dropdown-content{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.dropdown-content li a{
  color: rgba(0,0,0,.7);
  font-size: .9em;
}
.dropdown-content li a:hover{
  background: rgba(0,0,0,.05);
}
.dropdown-content{
  box-shadow: 0px 1px 3px rgba(0,0,0,.3) !important;
  border-radius: 5px;
}
.dropdown-content.notify-content{
  padding:0px;
}
.dropdown-content.notify-content li.new-content{
  background: linear-gradient(-90deg, #857bd4, #5babe8);
  padding: 0px 2.5px ;
  padding-top: 15px !important;
  height: 0px !important;
  margin: 0px !important;
  color: #fff !important;
}
.select-dropdown li img{
  border-radius: 0px !important;
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin:15px 10px;
}
.datepicker-container{
  z-index: 9999999999 !important;
}
.btn{
  box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}
.btn-sm{
  padding: 0px 10px !important;
  margin-top: -1px;
}
.btn-map-back{
  margin-top: -5px !important;
}
.btn-primary{
  color: #fff;
  background: #2196f3;
}
.btn-default{
  color: #666;
  background: #fff;
}
.btn-shot-doc{
  width: 90%;
  text-align: left;
}
.btn-shot-doc span{
  margin-top: 9px;
}
.btn-default:hover,.btn-default:focus{
  background: #fafafa;
}
.btn-primary:hover,.btn-primary:focus{
  background: #1e88e5;
}
.btn-line-success{
  border:solid 1px #4caf50;
  background: #fff;
  color:#4caf50;
}
.btn-line-danger{
  border:solid 1px #e53935;
  background: #fff;
  color:#e53935;
}
.btn-advance-search{
 position: absolute;
 right: 0;
 top:15px;
 background: none;
 box-shadow: none;
 color: #666;
 border-left:solid 1px rgba(0,0,0,0.2);
 border-radius: 0px;
}
.btn-advance-search:hover ,.btn-advance-search:focus{
 background: none;
 box-shadow: none;
}
.btn-line-success:hover,.btn-line-danger:hover,.btn-line-success:focus,.btn-line-danger:focus{
  background: #fafafa
}
.btn-success{
  color: #fff;
  background: #4caf50;
}
.btn-danger{
  color: #fff;
  background: #e53935;
}
.btn-success:hover,.btn-success:focus{
  background: #2e7d32;
}
.btn-danger:hover,.btn-danger:focus{
  background: #c62828;
}
.btn-warning{
  color: #fff;
  background: #ffb300;
}
.btn-warning:hover,.btn-warning:focus{
  background: #ffa000;
}
.no-margin{
   margin:0 !important;
}
.swal2-input{
  padding-left: 5px !important;
  margin-top: 15px !important;
}
.no-margin input{
  margin:.5 !important;
  height: 36px !important;
}
.input-field.custom input:disabled{
  background: #eee;
  border:none;
}
.input-field.custom input ,.swal2-input{
  width: calc(100% - 10.5px);
  margin-top:10px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2) !important;
  padding:0px 5px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px !important;
}
.input-field.input-sm.custom input{
  height: 33px;
  margin-top:5px;
  margin-bottom: 10px !important;
  font-size:.8em;

}
.input-field.custom input:focus,.swal2-input{
  transition: 0.5s;
  box-shadow: 0px 0px 0px 1px #2196f3 !important;
  border:none !important;
}
.input-field.custom input[type=text]:focus + label ,.input-field.custom input[type=password]:focus + label {
  color: #2196f3;
}
.input-field.custom .feedback{
  margin-top:-10px;
  margin-bottom:20px;
  font-size: .9em;
  font-weight:200;
}
/*  custom select */
.input-field.custom select{
  width: calc(100% - 10.5px);
  margin-top:30px !important;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) !important;
  padding:0px 5px;
  border-radius: 2px;
  background: #fff;
  /* margin-bottom: 15px !important; */
}
.input-field.custom .select-wrapper{
  margin-top:25px !important;
}
.input-field.custom .select-wrapper + label{
  margin-top: -10px !important;
}
.input-field.custom .dropdown-content.select-dropdown {
  margin-top: 55px;
}
/*  custom field  */
/* -------------------------------------------------------------------------- */
/*  custom field error */
.input-field.custom.error input + label{
  color: #e53935 !important;
}
.input-field.custom.error .feedback{
  color: #e53935 !important;
}
.input-field.custom.error input{
  box-shadow: 0px 0px 0px 1px #e53935 !important;
}
.input-field.custom.error input:focus{
  box-shadow: 0px 0px 0px 1px #d32f2f !important;
}
/*  custom field error */
/* -------------------------------------------------------------------------- */
/*  custom field warning */
.input-field.custom.warning input + label{
  color: #ffc107 !important;
}
.input-field.custom.warning .feedback{
  color: #ffc107 !important;
}
.input-field.custom.warning input{
  box-shadow: 0px 0px 0px 1px #ffc107 !important;
}
.input-field.custom.warning input:focus{
  box-shadow: 0px 0px 0px 1px #ffc107 !important;
}
/*  custom field warning */
/* -------------------------------------------------------------------------- */
/*  custom textarea */
.input-field.custom .materialize-textarea{
  width: calc(100% - 20.5px);
  margin-top:10px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2) !important;
  padding:0px 5px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px !important;
  padding: 10px !important;
}
.input-field.custom .materialize-textarea:focus{
  transition: 0.5s;
  box-shadow: 0px 0px 0px 1px #2196f3 !important;
  border:none !important;
}
.input-field.custom .materialize-textarea:focus + label{
  color: #2196f3;
}
/*  custom textarea  */
/*  -------------------------------------------------------------------------*/
/*  custom textarea warning */
.input-field.custom.warning .materialize-textarea + label{
  color: #ffc107 !important;
}
.input-field.custom.warning .feedback{
  color: #ffc107 !important;
}
.input-field.custom.warning .materialize-textarea{
  box-shadow: 0px 0px 0px 1px #ffc107 !important;
}
.input-field.custom.warning .materialize-textarea:focus{
  box-shadow: 0px 0px 0px 1px #ffc107 !important;
}
/*  custom textarea warning */

/*  -------------------------------------------------------------------------*/
/*  custom field success */
.input-field.custom.success input + label{
  color: #4caf50 !important;
}
.input-field.custom.success .feedback{
  color: #4caf50 !important;
}
.input-field.custom.success input{
  box-shadow: 0px 0px 0px 1px #4caf50 !important;
}
.input-field.custom.success input:focus{
  box-shadow: 0px 0px 0px 1px #4caf50 !important;
}
.check-select[type="checkbox"].filled-in + label{เ
  margin:-10px !important;
  left: -10px !important;
  padding: 0px !important;
}
.check-select[type="checkbox"].filled-in + label:after{
   border-radius: 100px;
   border: solid 1px #FF8E9F;
}
.custom-radio[type="radio"] + label:before{
  border: solid 2px #FF8E9F !important;
}
.custom-radio[type="radio"]:checked + label:after{
   background-color: #FF8E9F !important;
}
.custom-radio[type="radio"]:checked + label:before{
   border: 2px solid #FF8E9F !important;
}
.select-wrapper span.caret{
  font-size: 1em !important;
  right: 12px !important;
  z-index: 5 !important;
  color:#ccc;
}
.file-container .active .check-select[type="checkbox"].filled-in:checked + label:after{
   border: 1px solid #FF8E9F;
   background-color: #FF8E9F;
}
#select-all[type="checkbox"]:checked + label:after{
   border: 1px solid #FF8E9F;
   background-color: #FF8E9F;
}
/* Custom ----------- end  */
.document-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    z-index: -1;
}
.document-tool.usertool table tr td{
  padding: 0px !important;
}
.document-tool.usertool table tr td .btn{
  margin-top: -5px;
}
/* Document Container ----------- end */
.sidebar{
  background: #fff;
  position: absolute;
  width: 220px;
  height: 100%;
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  /* box-shadow: .5px 0px 3px rgba(0, 0, 0, 0.2); */
  transition: .5s;
  z-index: -1;
}
.sidebar-logo{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top:10px ;
  display: none;
}
.sidebar-logo-text{
  position: absolute;
  width:150px;
  height:25px;
  margin-top: 20px;
  margin-left: 50px;
}
.sidebar-header{
  padding:0px 10px;
  height: 66px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.sidebar-header .brand{
  font-size:2rem;
  top: 20px;
  left: 15px;
  position: absolute;
}
.sidebar-header .brand-text{
  font-size:1.25rem;
  margin-top: 20px !important;
  margin-left: 40px;
  font-weight: bold;
  position: absolute;
}
.sidebar-content .collection li{
  border:none !important;
  margin: 0px 0px  !important;
  background: #fff;
  /* border-radius: 5px; */
  color:rgba(0, 0, 0, 0.6) ;
  padding: 10px 20px;
}
.sidebar-content .collection{

}
.sidebar-content .collection{
  border:none !important;
  padding:0px !important;
  margin:0px 0px !important;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
}
.sidebar-content .collection li:hover{
  cursor: pointer;
  background: #efefef;
}
.sidebar-content .collection li.active{
  /* background:#FF8E9F !important; */
  background: #fff;
  /* box-shadow:inset 2px -1px 0px 1px #FF8E9F; */
  border-left: solid 5px #FF8E9F !important;

  color: #FF8E9F ;
}
.sidebar-content .collection li i{
  color: #FF8E9F !important;
  margin-right: 10px;
}
.sidebar-content .collection li.active:hover{
  background: #efefef !important;
}
.sidebar-content .collection li.active i{
  color: #FF8E9F  !important;
  margin-left: -5px;
}
.group_sidebar{
  display: none;
}
/* Sidebar ------ end */
.navbar-top ul.left li a{
  margin-top: -1px;
}
.navbar-top ul.right li a{
  margin-top: 1px;
}
.navbar-top ul li a{
  color: #FF8E9F;
}
.navbar-top ul li a:hover{
  background: #f0f0f0;
}
.navbar-top{
  position: absolute;
  /* z-index: -1; */
  background: none;
  padding:0px 0px;
  height: 65px;
  box-shadow: none;
  border-right: solid 1px rgba(0, 0, 0, 0.2);

  background: #fff;
  margin-left: 220px;
  width: calc(100% - 220px);
}
.brand-bars:hover{
  background: #fafafa;
}
.picker .picker__holder{
  background: none !important;
}
.notify{
  margin-top:0px !important;

  margin-left: 0px;
  color:rgba(255,255,255,.1);
  font-size: .4em;
  position:absolute;
  border-radius: 50px;
  box-shadow: none;

}
.notify.active{
  position: sticky;
  color: #f44336;
  box-shadow: 0px 0px 10px #ff1744;
  top: 35px !important;
  margin-left: -10px !important;
}
.breadcrumb-header{
  color: #999;
}
.lg-sidbar{
  display: block;
}
.md-sidebar{
  display: none;
}
.sm-sidebar{
  display: none;
}
.bar-lg-profile img{
   width: 24px;
   height: 24px;
   border-radius: 50px;
   margin-top:-15px;
   margin-bottom:-7.5px;
}
/* Navbar ------- end */
.main{
  position: absolute;
  background: none;
  padding:0px 0px;
  height: calc(100% - 60px);
  box-shadow: none;
  border-top: solid 1px rgba(0, 0, 0, 0.2);

  /* box-shadow: 0px 0px 2px rgba(0,0,0,.3); */
  background: #fff;
  margin-left: 220px;
  width: calc(100% - 220px);
  margin-top: 65px;
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  z-index: -1;
}
.breadcrumbbar{
  display:inline;
  overflow: auto;
  margin:0px !important;
}
.breadcrumbbar ul{
  padding:15px 0px !important;
  margin:0px !important;
  overflow: hidden;
  white-space: nowrap;
  overflow-x:auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.breadcrumbbar ul li{
  display:inline;
  padding: 10px;
}
.breadcrumbbar ul li a{
  color: rgba(0, 0, 0, 0.5);
}
.breadcrumbbar ul li.active a{
  color: #FF8E9F;
  font-weight: bold;
}
/*  Head */
.file-head{
  position: absolute;
  width: calc(100%);
  z-index: 10;
  margin-top: -.5px;
}
.file-head table tr{
  border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
  z-index: 10;
  border-top: none;
}
.file-head table tr td{
  color: #666;
  /* background: #fff; */
  font-weight:bold;
  border-radius: 0px !important;
  padding: 11px 10px;

}
.file-head table tr td:hover{
  cursor: pointer;
}
.file-head table tr td span.fa-sort,.file-head table tr td span.fa-sort-up,.file-head table tr td span.fa-sort-down{
  color: #FF8E9F !important;
}
.file-head table tr td:nth-child(1){
  width: 5%;
  text-align: center;
}
.file-head table tr td:nth-child(2){
  width: 5%;
  text-align: center;
}
.file-head table tr td:nth-child(3){
  width: 35%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-head table tr td:nth-child(4){
  width: 27.5%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-head table tr td:nth-child(5){
  width: 27.5%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-head table tr .sm-menu{
  display: none;
}
.file-container{
  margin-top:44px;
  position: absolute;
  width: calc(100%);
  height: calc(100% - 170px);
  overflow: auto;
  padding-bottom: 50px;
  z-index: 1;
}
.file-container .img-file-icon{
    width: 23px;
    height: 23px;
    margin-top: 5px;
}
.file-container li.tr-file{
    border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
}
.file-container li:hover{
  background:rgba(224,247,250,.3);
  cursor: pointer;
}
.file-container table tr td{
  color: #666;
  padding: 5px 10px;
}
.file-container table tr td:nth-child(1){
  width: 5%;
  text-align: center;
}
.file-container table tr td:nth-child(2){
  width: 5%;
  text-align: center;
}
.file-container table tr td:nth-child(3){
  width: 35%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-container table tr td:nth-child(4){
  width: 27.5%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-container table tr td:nth-child(5){
  width: 27.5%;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:200px;
  overflow:hidden;
}
.file-container table tr td:nth-child(6){
  width: calc(27.5% - 44px);
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:100px;
  overflow:hidden;
}
.file-container table tr .sm-menu{
  display: none;
}
.file-container li.active{
  background: #64b5f6;
    /* background:rgba(224,247,250,.3); */
}
.file-container li.active table tr td{
  color:#fff;
}
.file-container li.active:hover{
  /* background: #2979ff; */
  /* color:#fff; */
}
.file-container li.active tr td,.file-container li.active .share-icon{
  color: #FF8E9F
}
.share-icon{
  color: #666;
  font-size: .6em;
}
#file_upload{
  visibility: hidden;
  width:0px;
}
.digidoc-upload-dialog{
   position: fixed;
   bottom:0;
   right: 0;
   margin:10px 15px;
   width: 400px;
   max-height: 500px;
   background: #fff;
   z-index: 1000;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   border-radius: 5px;
   transition: .5s;
   display: none;
}
.upload-dialog-header{
  padding:15px 10px;
  background: #FF8E9F;
  color: #fff;
  border-radius:5px 5px 0px 0px;
  box-shadow: 0px .5px 1px rgba(0, 0, 0, 0.5);
}
.upload-item-icon{
   width: 16px;
   height: 16px;
   position: absolute;
   margin-top: 16px;
}
.upload-item-status{
  color: #ff8a80;
}
.upload-dialog-header a{
  color: #fff;
  padding:4.5px 10px;
  margin-top: -5px;
  background: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  border-radius: 50px;
}
.upload-dialog-header a:hover{
  cursor: pointer;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
.upload-dialog-content{
  max-height: 250px;
  overflow: auto;
  background: #eeee;
}
.upload-dialog-content .collection{
  border:none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin:0px 10px;
}
.upload-dialog-content .collection-item p{
  margin-left: 21px;
  margin-right:-21px;
}
.upload-item-feedback{
  margin-top: -5px;
  font-size: .8em;
}
.progress-upload.progress{
  background:#bbdefb
}
.progress-upload.error{
  background:#ff8a80;
}
.progress-upload.progress .determinate{
  background:#FF8E9F
}
.progress-upload.error .determinate{
  background:#e53935;
}
.swal2-confirm{
  margin: 5px;
  background: #43a047;
}
.swal2-confirm:hover,.swal2-confirm:focus{
  background: #388e3c;
}
.swal2-cancel{
  margin: 5px;
  background: #e53935;
}
.swal2-cancel:hover,.swal2-cancel:focus{
  background: #d32f2f;
}
.check-select[type="checkbox"].filled-in + label{
  margin:-10px !important;
  left: -10px !important;
  padding: 0px !important;

}
.check-select[type="checkbox"].filled-in + label:after{
   border-radius: 5px;
   border: solid 1px #FF8E9F;
}
.file-container .active .check-select[type="checkbox"].filled-in:checked + label:after{
   border: 1px solid #FF8E9F;
   background-color: #FF8E9F;
}
.upload-dialog-content p{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:300px;
}
.upload-item-status {
  margin-top: 15px;
}
.contextmenu{
  position: absolute;
  width: 200px;
  z-index: 1000;
  max-height: 500px;
  background: rgba(255,255,255,.95);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 5px 5px;
  display: none;
}
.contextmenu .file-header{
  background: #FF8E9F !important;
  color: #fff !important;
  border-radius: 4px 4px 0px 0px;
}
.contextmenu .file-header p{
  padding:0px !important;
  margin:0px !important;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:150px;
}
.contextmenu .file-header a{
  color: #fff;
}
.contextmenu .collection{
  border: none;
  margin: 0px !important;
  padding: 0px !important;
}
.contextmenu .collection li{
  background:none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 5px;
  color: #666;
  font-size: .9em;
}
.contextmenu .collection li .right span{
  color: #fff;
}
.contextmenu .collection li span{
  color: #FF8E9F;
}
.contextmenu .collection li:hover{
  background: rgba(0,0,0,.05);
}
/* Modal Custom ---------------------- Start */
.digidoc-backdrop{
  background: rgba(207,216,220,.5);
  position: fixed;
  width: 100%;
  height: 120%;
  top:0;
  left: 0;
  z-index:1100;
  display: none;
  overflow-y: auto;
  margin-bottom: 100px !important;
}
.digidoc-backdrop-context{
  background: rgba(207,216,220,.5);
  position: fixed;
  width: 100%;
  height: 120%;
  top:0;
  left: 0;
  z-index:999;
  display: none;
  overflow-y: auto;
  margin-bottom: 100px !important;
}
.digidoc-preload-backdrop{
  background: rgba(207,216,220,.5);
  position: fixed;
  width: 100%;
  height: 120%;
  top:0;
  left: 0;
  z-index:2000;
  display: none;
  overflow-y: auto;
  margin-bottom: 100px !important;
}
.digidoc-modal{
  padding-top:10%;
  padding-bottom:10%;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background:none;
  z-index:1200;
  overflow-y: auto;
  overflow: auto;
}
.digidoc-modal-dialog{
  z-index:1000;
  width: 60%;
  top:0;
  left: 0;
  background: #fff;
  border-radius: 5px;
  margin-left: 20%;
  box-shadow: 0px 1px 5px rgba(0,0,0,.2);
}
.digidoc-modal-dialog.lg{
  width: 80%;
  margin-left:10%
}
.digidoc-modal-dialog.sm{
  width: 30%;
  margin-left:35%
}
.digidoc-modal-header{
  padding: 15px 5px;
  background: linear-gradient(-90deg, #0962cc, #1cb1f2);
  color: #fff !important;
  border-radius: 5px 5px 0px 0px;
}
.digidoc-modal-header.default{
  background: #fff;
  padding: 0px;
}
.preview-close{
    padding:15px;
    padding-left: 30px;
    padding-right: 15px;
    background: rgba(0,0,0,0.2);
    font-size: 1.5em;
    color: #fff;
    border-radius:0px 0px 0px 50px;
    position: fixed;
    right: 0;
    z-index: 9999;
}
.digidoc-modal-header.default.preview{
  padding: 15px 5px;
  color: rgba(0,0,0,0.6) !important;
  background: #fff !important;
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid 1px rgba(0,0,0,0.05) !important;
}
.digidoc-modal-header a{
  color: rgba(0,0,0,0.4) !important;
}
.digidoc-modal-header a:hover{
  color: rgba(0,0,0,0.6) !important;
}
.digidoc-modal-footer{
  padding: 15px 5px;
  border-top: solid 1px #eee;
}
.digidoc-modal-dialog-content{
  width: 100%;
  padding:10px 10px;
}
.digidoc-modal table tr:hover{
  cursor: pointer;
}
.digidoc-modal table.dialog-tools tr td{
  padding: 0px !important;
}
/* Modal Custom ---------------------- End */
.digidoc-preview{
  position: absolute;
  top:0px;
  width: 100%;
  display: none;
  z-index: 9999999999;
  overflow-y: auto;
  background: linear-gradient(-90deg, #857bd4, #5babe8);
  box-shadow: 0px 1px 5px rgba(0,0,0,.1) !important;
}
/* #image_preview{
  position: absolute;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  z-index: -999999999;
  right: -250%;
} */
.digidoc-preview-content{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
  transition: .5s;
}
.info-button{
  position: absolute;
  transition: .5s;
  top: calc(50% - 32px);
  left: -24px;
  z-index: 9999999999999;
}
.item-preview{
  transition: .5s;
}
canvas.pdf-preview{
  position: relative;
  z-index: 99;
  width: 60%;
  box-shadow: 0px 0px 5px rgba(207,216,220,.9);

  margin-left: 20%;
}

/*  */
.share-access table tr td img{
    margin-top:5px;
    width: 32px;
    height: 32px;
}
.share-access table tr td ,.share-access table thead th{
    color: #666;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.share-access table tr td:nth-child(2){
  max-width: 50px !important;
}
.fa-folder.cs{
  color: #ffb300 !important;
}
.fa-file-pdf.cs{
  color: #f44336 !important;
}
.tr-file.active .fa-folder,.tr-file.active .fa-file-pdf{
  color: #fff !important;
}
.digidoc-page-load{
  background: rgba(255,255,255,1);
  padding: 10px;
  position: absolute;
  width: 300px;
  z-index: 2500;
  height: 80px;
  border-radius: 5px;
  left:calc(50% - 150px);
  top:calc(50% - 75px);
  color: #FF8E9F;
  display: none;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4)
}
.page-load {
  transition: .5s;
}
.digidoc-page-load .progress{
  background: #82b1ff;
}
.digidoc-page-load .indeterminate{
  background: #FF8E9F;
}
.share-container table tr td {
  padding:0px 5px !important;
  vertical-align: :top;
}
#btn-permission-new{
  /* height: 42px !important; */
  /* margin-top: 10px !important; */
}
.inpput-auto-content{
  display: none;
  position: relative;
  padding:0%;
  position:absolute;
  top: 40px;
  z-index: 10;
}
.inpput-auto-content ul {
    padding: 0px !important;
    padding-top: 5px !important;
    border:none !important;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    max-height:225px;
    overflow-y: auto;
}
.inpput-auto-content ul li{
    padding: 5px 0px !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
}
.inpput-auto-content table tr td{
    padding: 0px !important;
    color: #666;
}
.inpput-auto-content table tr td:nth-child(1){
    width: 48px;
    text-align: center;
}
.inpput-auto-content img{
    width: 24px;
    height: 24px;
    margin-top: 5px;
}
.chip-container{
    position: relative;
    /* padding:0px 5px !important; */
}
.chip-container .chip{
  background: #e0f7fa;
}
.chip-container .chip img{
  background: #fff;
  border:solid 2px #e0f7fa;
}
.profile-status {
  position:absolute;
  font-size: .7em;
  border-radius: 100px;
  background: rgba(255,255,255,.9);
  padding: 3px;
  margin-left: 16px;
  margin-top: 20px;
}

.preview-read-only{
  background: rgba(0,0,0,0.05);
  position:absolute;
  z-index: 1200;
  display: none;
  text-align: center;
}
.preview-read-only p{
  color: rgba(0,0,0,.2);
  font-weight:bold;
}

.doc-preview{
  background: rgba(207,216,220,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index:2000;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}
/* .doc-preview .preview-header{
  background: #323639;
  width: 100%;
  height: 64px;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
  z-index: 10;
} */
.doc-preview .preview-content{
  /* margin-top: 64px; */
  width: 100%;
  height: calc(100%);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.doc-preview .image-preview{
  background-image: url('http://localhost/digidocs/assets/images/background/trans_bg.png');
  background-repeat: repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin:0 auto;
  z-index:0;
  position: absolute;
  transition: .5s;
  display: none;
}
.zoomin{
  cursor: zoom-in;; /* fallback if grab cursor is unsupported */
}
.zoomout{
  cursor: zoom-out;
}
.grab{
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.grabbing{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.preview-tool {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 999999999;
}
.preview-tool ul li{
  padding: 10px;
}
.btn-prevew-control{
  position: absolute;
  top:calc(50% - 41px);
  padding: 0px 15px;
  margin: 5px;
  background: rgba(0,0,0,.8);
  z-index: 9999;
}
.btn-prevew-control:hover ,.btn-prevew-control:focus{
  background: rgba(0,0,0,.7);
}
.btn-prevew-control.btn-preview-next{
  right:0;
}
.btn-prevew-control.btn-preview-prev{
  left:0;
}
.preview-pdf-container{
  position: absolute;
}
.preview-pdf-container canvas{
  margin-top: 10px;
  position: absolute;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.digidoc-groups-container .card{
  box-shadow: none !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;

  /* border:solid 1px rgba(0,0,0,.1); */
}
.digidoc-groups-container:not(#group_card_members) .card:hover{
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
  /* border:none; */
}
.digidoc-groups-container .card button.right{
  position: absolute;
  top:5px;
  right:5px;
  box-shadow: none;
}
.digidoc-groups-container .card .card-content{
  padding: 0px;
}

.digidoc-groups-container .card .card-content .group-header img{
  width: 128px;
  height: 128px;
  /* border:  solid 2px #5babe8; */
  background: #fff;
  border-radius: 100px;
  object-fit: cover;
}
.digidoc-groups-container .card .card-content .group-header{
  padding: 15px;
  text-align: center;
}
.digidoc-groups-container .card .card-content .group-header  p{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.digidoc-groups-container .card .card-content .group-footer{
  padding: 5px;
  background: rgba(0, 0, 0, 0.025);
}
.digidoc-groups-container .card .card-content .group-footer .col:first-child{
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}
#create_key_dialog{
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
#block_key_search table tr td{
  padding:0px 10px;
}
#block_key_search table tr td:first-child,  #block_key_search table tr td:last-child{
  padding:0px;
}
#block_key_search table tr td .input-field input{
  margin-top: 1px;
  height: 36px;
}
#search_key_type{
  margin-top: -10px;
}
 #search_key_type .select-dropdown{
   margin-top: 38px;
 }
 .picker__nav--next{
  top: -34px !important;
  position: absolute;
}
.picker__nav--prev{
  top: -34px !important;
  position: absolute;
}
.picker__select--month.browser-default{
  width: calc(50% - 40px) !important;
  top: -64px !important;
  left: 32px !important;
     position: absolute;
}
.picker__select--year.browser-default{
  width: calc(50% - 40px) !important;
  top: -64px !important;
  left: calc(50% + 5px) !important;
  position: absolute;
}
.picker__table{
  margin-top: 48px !important;
}
.picker__holder{
  background: rgba(207,216,220,.5) !important;
}
.picker__box{
  border: none !important;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); !important; */
}
.picker__date-display{
  background: linear-gradient(-90deg, #0962cc, #1cb1f2) !important;
}
.picker__day.picker__day--infocus.picker__day--today{
  color:#5babe8 !important;
  /* background: linear-gradient(-90deg, #857bd4, #5babe8) !important; */
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted{
  background:#5babe8 !important;
  color: #fff !important;
}

.dropdown-content.notify-content , .dropdown-content.invite-content{
  padding:0px;
  background: #fff;

}
.dropdown-content.notify-content li img , .dropdown-content.invite-content li img{
  width: 24px;
  height: 24px;
}
.dropdown-content.notify-content li table tr td , .dropdown-content.invite-content li table tr td{
  padding:2.5px 5px;
}
.dropdown-content.notify-content li.new-content , .dropdown-content.invite-content li.new-content{
  background: linear-gradient(-90deg, #857bd4, #5babe8);
  padding: 0px 2.5px ;
  padding-top: 15px !important;
  height: 0px !important;
  margin: 0px !important;
  color: #fff !important;
}
.dropdown-content.notify-content li.new-content:hover , .dropdown-content.invite-content li.new-content:hover{
  background: linear-gradient(-90deg, #857bd4, #5babe8) !important;
}
.dropdown-content.notify-content li , .dropdown-content.invite-content li{
  border-bottom: solid 1px rgba(0,0,0,.1) ;
}
.mapBody tr td{
  padding: 10px 5px !important;
}
.mapTable table{
  table-layout: fixed;
}
.mapBody tr td:nth-child(1){
  width: 32px;
  font-size: 1.5em;
}
.mapBody tr td:nth-child(2){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 128px);
}
.mapBody tr td:nth-child(3){
  width: 48px;
}
#pad_authen_input input{
  font-size: 10em;
  text-align: center;
  height: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1cb1f2;
}
#pad_authen_btn .row .col{
  padding: 15px 0px;
}
#pad_authen_btn .row .col .btn{
   font-size: 1.5em;
   color: #1cb1f2;
   background: none;
   border:solid 2px #1cb1f2;
}
.timepicker_wrap{
  width: 145px !important;
}
/* Main --------- end */
@media screen and (max-width: 575.98px) {
  .navbar-top ul li a{
    margin-top: 0px !important;
    padding-top: 5px !important;
    height: 65px !important;
  }
  #invite_dropdown li{
    height: auto !important;
    min-height: auto !important;
    /* padding:  0px !important; */
  }
  #invite_dropdown li a {
    height: auto !important;
    padding:  10px !important;
  }
  .lg-sidbar{
    display: none !important;
  }
  .md-sidebar{
    display: none !important;
  }
  .sidebar{
    display: none;
  }
  .sm-sidebar{
    display: block !important;
  }
  .navbar-top,.main{
    margin-left: 0px !important;
    width: 100% !important;
  }
  .digidoc-modal-dialog{
    width: 90%;
    margin-left:5%;
  }
  .digidoc-modal-dialog.lg{
    width: 90%;
    margin-left:5%;
  }
  .digidoc-modal-dialog.sm{
    width: 90%;
    margin-left:5%;
  }
  .info-container{
   width: 100% !important;
  }
  .profile-image{
    margin-left:calc(57.5% - 128px) !important;
  }
  .lg-profile{
    display: none;
  }
  .side-nav .background{
    background: linear-gradient(-90deg, #0962cc, #1cb1f2) !important;
  }
  .side-nav a .circle{
    border:solid 2px rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 767.98px) {
    .digidoc-upload-dialog{
      width: 100%;
      margin: 0px;
      border-radius: 0px;
    }
    .digidoc-modal-dialog{
      width: 80%;
      margin-left:10%;
    }
    .digidoc-modal-dialog.lg{
      width: 80%;
      margin-left:10%
    }

    .digidoc-modal-dialog.sm{
      width: 80%;
      margin-left:10%
    }
}

@media  screen and (max-width: 991.98px) {

  .upload-dialog-header{
    border-radius: 0px;
  }
  .navbar-top,.main{
    width: calc(100% - 60px);
    margin-left:60px;
  }
  .sidebar{
    width: 60px;
  }
  .side-menu-text{
    display: none;
  }
  .sidebar-logo{
    display:block;
  }
  .sidebar-logo-text{
    display: none;
  }
  .lg-sidbar{
    display: none;
  }
  .md-sidebar{
    display: block;
  }
  .sm-sidebar{
    display: none;
  }

 .file-container{
   width: calc(100%);
 }
 .file-head{
   width: calc(100%);
 }
 .file-head table tr td:nth-child(1){
   width: 10% !important;
 }
 .file-head table tr td:nth-child(3){
   width: 60% !important;
 }
 .file-head table tr td:nth-child(4){
   display: none;
 }
 .file-head table tr td:nth-child(5){
   display: none;
 }
 .file-head table tr .sm-menu{
   width: 20% !important;
   text-align: right;
   display: table-cell;
 }
 .file-head table tr .sm-menu a{
   color: #666;
   background: #f5f5f5;
   padding:7.5px 13.5px;
   border-radius: 50px;
   cursor: pointer;
 }
 .file-container table tr td:nth-child(1){
   width: 10% !important;
 }
 .file-container table tr td:nth-child(3){
   width: 60% !important;
 }
 .file-container table tr td:nth-child(4){
   display: none;
 }
 .file-container table tr td:nth-child(5){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(4){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(5){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(6){
   display: none;
 }
 .file-container table tr .sm-menu{
   width: 20% !important;
   text-align: right;
   display: table-cell;
 }
 .file-container table tr .sm-menu a{
   color: rgba(0,0,0,.5);
   background: rgba(0,0,0,.05);
   padding:5.5px 13.5px;
   border-radius: 5px;
   cursor: pointer;
 }
 .info-container{
    width: 45%;
 }
}

@media screen and (max-width: 1199.98px) {

}
