@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600&subset=thai');
/* @import "spinners.css"; */
@import "loader.css";

 *{
  font-family: 'Athiti', sans-serif;
  color: #757575;
 }
 .fas{
   color: #FF8E9F !important;
 }
 .success{
   color: #4caf50 !important;
 }
 .warning{
   color: #ffb300 !important;
 }
 .error{
   color: #e53935 !important;
 }
 .pull-right {
   float: right;
 }
 .pull-left {
   float: left;
 }
 .chip{
   background: #ffe6e9;
   color: #757575;
 }
 .chip-notify{
   margin: auto !important;
 }
 .chip-wait{
   background: #ffb300;
   color: #ffffff;
 }
 .chip-success{
   background: #4caf50;
   color: #ffffff;
 }
 .chip-dismiss{
   background: #e53935;
   color: #ffffff;
 }
 .by-footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   left: 0;
   padding: 15px;
   height: 50px;
   background:#fafafa;
   color: rgba(0, 0, 0, 0.5);
   font-size: .9em;
   border-top: solid 1px rgba(0, 0, 0, 0.025);
   text-align: center;
 }
 .by-footer a{
   font-weight: 400;
 }
 .form-group {
   margin-bottom: 20px;
 }
 .fa-circle:before {
     color: #2196f3 !important;
 }
 /* progress */
   .progress{
     height: 10px;
     margin: 0px;
   }
   .progress.wait{
     background: #fecdd8;
   }
   .progress.wait .determinate{
     background: #C10230;
     transition: 1.5s;
   }
   .progress.assign{
     background: #ffdccc;
   }
   .progress.assign .determinate{
     background: #FF5100;
     transition: 1.5s;
   }
   .progress.working{
    background: #fff6cc;
   }
   .progress.working .determinate{
     background: #FFD600;
     transition: 1.5s;
   }
   .progress.check{
     background: #ccfff1;
   }
   .progress.check .determinate{
     background: #00C08B;
     transition: 1.5s;
   }
   .progress.success{
     background: #ccfffb;
   }
   .progress.success .determinate{
     background: #00C4B3;
     transition: 1.5s;
   }
   .progress.error{
     background: #CCC;
   }
   .progress.error .determinate{
     background: #CCC;
   }
 /* progress ------- end */
 /* table */
   .select-row tr td{
     padding:0px 10px;
   }
   .btn-group .btn{
     border-radius: 0px !important;
     margin-right: -5.5px;
     border: none !important;
     padding: 0px 10px;
   }
   .page-num{
     box-shadow: none !important;
     background: rgba(0,0,0,.025)!important;
   }
   .btn-group .btn:first-child{
     border-radius: 5px 0px 0px 5px !important;
   }
   .btn-group .btn:last-child{
     border-radius: 0px 5px 5px 0px !important;
   }
   .file-toolbar{
     padding: 10px 0px;
     padding-right: 10px;
     margin-bottom: 0px !important;
   }
   .search-text{
     margin: auto !important;
   }
   .file-container tr:hover{
     background-color: #ffe6ea;
     cursor: pointer;
   }
 /* table ------- end */
/* btn */
 .btn{
     border:solid 1px #FF8E9F;
     background: #FF8E9F;
     color:#fff;
  }
 .btn-login{
     width: 100%;
     height: 48px;
 }
 .btn:hover{
     background:#FF8E9F;
 }
 .btn.from:hover{
     background: #fff;
     color:#FF8E9F;
 }
 .btn:focus{
   background: #FF8E9F;
 }
 .btn-line-success{
   border:solid 1px #4caf50;
   background: #fff;
   color:#4caf50;
 }
 .btn-line-warning{
   border:solid 1px #fbc02d;
   background: #fff;
   color:#fbc02d;
 }
 .btn-line-danger{
   border:solid 1px #e53935;
   background: #fff;
   color:#e53935;
 }
 .btn-success{
   border:solid 1px #4caf50;
   background: #4caf50;
   color:#fff;
 }
 .btn-warning{
   border:solid 1px #fbc02d;
   background: #fbc02d;
   color:#fff;
 }
 .btn-danger{
   border:solid 1px #e53935;
   background: #e53935;
   color:#fff;
 }
/* btn --------- End */
/* input */
 input:focus,textarea:focus{
   border-bottom: 1px solid #2196f3 !important;
   box-shadow: 0 1px 0 0 #2196f3 !important;
 }
 select:focus{
   border: 1px solid #2196f3 !important;
   box-shadow: 0 1px 0 0 #2196f3 !important;
 }
 /* .preloader {
   width: 100%;
   height: 100%;
   top: 0px;
   position: fixed;
   z-index: 99999;
   background: #fff;
 }
 .preloader .cssload-speeding-wheel {
   position: absolute;
   top: calc(50% - 3.5px);
   left: calc(50% - 3.5px);
 } */
/* input --------- End */
/* swal2 */
.swal2-popup .swal2-input:focus{
  border: 0px !important;
}
.swal2-input .swal2-inputerror{
  border: 0px !important;
}
/* swal2 --------- End */
