.document-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    z-index: -1;
}
.main{
  position: absolute;
  background: none;
  padding:0px 0px;
  height: calc(100% - 60px);
  box-shadow: none;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);
  margin-left: 220px;
  width: calc(100% - 220px);
  margin-top: 65px;
  /* overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden; */
  overflow-y:auto;
  z-index: -1;
}
.main-container{
  margin: 2%;
}
.box-title {
  padding: 2%;
  background-color: #FF8E9F;
}
.white-box {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 15px;
  border: solid 1px;
  border-color: #FA7598;
}
.swal2-container{
  z-index: 3000 !important;
}
/* card */
  .card-container{
    margin-left: 4%;
    margin-right: 4%;
  }
  .card-count{
    box-shadow: 0px 0px 2px #c5cae9;
    height: 229px;
  }
  .card-count:hover{
    box-shadow: 0px 1px 20px #c5cae9;
    cursor: pointer;
  }
  .card-ticket{
    padding-top: 1%;
    padding-bottom: 1%;
    height: 150px;
  }
  .card-ticket:hover{
    box-shadow: 0px 1px 20px #c5cae9;
    cursor: pointer;
  }
  .card-panel {
    padding: 2% !important;
  }
  .card-action {
    /* padding: 15px 5px; */
    font-size: 1em;
    background: linear-gradient(-90deg, #ff8093, #ffe6e9);
    color: #fff !important;
    border-radius: 5px 5px 0px 0px;
  }
/* card ------- end  */
/* Sidebar*/
  .sidebar{
    background: #fff;
    position: absolute;
    width: 220px;
    height: 100%;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    /* box-shadow: .5px 0px 3px rgba(0, 0, 0, 0.2); */
    transition: .5s;
    z-index: -1;
  }
  .sidebar-logo{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top:10px ;
    display: block;
  }
  .sidebar-logo-text{
    position: absolute;
    width:150px;
    height:25px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .sidebar-header{
    padding:0px 10px;
    height: 66px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  .sidebar-header .brand{
    font-size:2rem;
    top: 20px;
    left: 15px;
    position: absolute;
  }
  .sidebar-header .brand-text{
    font-size:1.25rem;
    margin-top: 20px !important;
    margin-left: 40px;
    font-weight: bold;
    position: absolute;
  }
  .sidebar-content .collection li{
    border:none !important;
    margin: 0px 0px  !important;
    background: #fff;
    /* border-radius: 5px; */
    color:rgba(0, 0, 0, 0.6) ;
    padding: 10px 20px;
  }
  .sidebar-content .collection{

  }
  .sidebar-content .collection{
    border:none !important;
    padding:0px !important;
    margin:0px 0px !important;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
  }
  .sidebar-content .collection li:hover{
    cursor: pointer;
    background: #efefef;
  }
  .sidebar-content .collection li.active{
    /* background:#FF8E9F !important; */
    background: #fff;
    /* box-shadow:inset 2px -1px 0px 1px #FF8E9F; */
    border-left: solid 5px #FF8E9F !important;

    color: #FF8E9F ;
  }
  .sidebar-content .collection li i{
    color: #FF8E9F !important;
    margin-right: 10px;
  }
  .sidebar-content .collection li.active:hover{
    background: #efefef !important;
  }
  .sidebar-content .collection li.active i{
    color: #FF8E9F  !important;
    margin-left: -5px;
  }
  .sidebar-content .divider{
    background: #eee !important;
    padding: .5px !important;
    margin: 15px 0px !important;
  }
  .home_sidebar{
    display: none;
  }
  .report_sidebar{
    display: none;
  }
  .admin_sidebar{
    display: none;
  }
  .system_sidebar{
    display: none;
  }
  .side-nav .background{
    background: linear-gradient(-90deg, #ff8093, #ffe6e9) !important;
  }
  .side-nav a .circle{
    border:solid 2px rgba(255, 255, 255, 0.5);
  }
/* Sidebar ------ end */
/* Navbar */
  .navbar-top ul.left li a{
    margin-top: -1px;
  }
  .navbar-top ul.right li a{
    margin-top: 1px;
  }
  .navbar-top ul li a{
    color: #FF8E9F !important;
  }
  .navbar-top ul li a:hover{
    background: #f0f0f0;
  }
  .navbar-top{
    position: absolute;
    /* z-index: -1; */
    background: none;
    padding:0px 0px;
    height: 65px;
    box-shadow: none;
    border-right: solid 1px rgba(0, 0, 0, 0.2);

    background: #fff;
    margin-left: 220px;
    width: calc(100% - 220px);
  }
  .brand-bars:hover{
    background: #fafafa;
  }
  .picker .picker__holder{
    background: none !important;
  }
  .notify{
    margin-top:0px !important;

    margin-left: 0px;
    color:rgba(255,255,255,.1);
    font-size: .4em;
    position:absolute;
    border-radius: 50px;
    box-shadow: none;

  }
  .notify.active{
    position: sticky;
    color: #f44336;
    box-shadow: 0px 0px 10px #ff1744;
    top: 35px !important;
    margin-left: -10px !important;
  }
  .breadcrumb-header{
    color: #999;
  }
  .lg-sidbar{
    display: block;
  }
  .md-sidebar{
    display: none;
  }
  .sm-sidebar{
    display: none;
  }
  .bar-lg-profile img{
     width: 24px;
     height: 24px;
     border-radius: 50px;
     margin-top:-15px;
     margin-bottom:-7.5px;
  }
/* Navbar ------- end */
/* Modal */
  .modal{
    padding-top:5%;
    padding-bottom:5%;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:none;
    z-index:1200;
    overflow-y: auto;
    overflow: auto;
    max-height: 100%;
  }
  .modal-dialog{
    z-index:1000;
    width: 60%;
    top:0;
    left: 0;
    background: #fff;
    border-radius: 5px;
    margin-left: 20%;
    box-shadow: 0px 1px 5px rgba(0,0,0,.2);
  }
  .modal-dialog.lg{
    width: 80%;
    margin-left:10%
  }
  .modal-dialog.sm{
    width: 30%;
    margin-left:35%
  }
  .modal-header{
    padding: 15px 5px;
    font-size: 1.2em;
    background: linear-gradient(-90deg, #ff8093, #ffe6e9);
    color: #fff !important;
    border-radius: 5px 5px 0px 0px;
  }
  .modal-header.default{
    background: #fff;
    padding: 0px;
  }
  .preview-close{
      padding:15px;
      padding-left: 30px;
      padding-right: 15px;
      background: rgba(0,0,0,0.2);
      font-size: 1.5em;
      color: #fff;
      border-radius:0px 0px 0px 50px;
      position: fixed;
      right: 0;
      z-index: 9999;
  }
  .modal-header.default.preview{
    padding: 15px 5px;
    color: rgba(0,0,0,0.6) !important;
    background: #fff !important;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 1px rgba(0,0,0,0.05) !important;
  }
  .modal-header a{
    color: rgba(0,0,0,0.4) !important;
  }
  .modal-header a:hover{
    color: rgba(0,0,0,0.6) !important;
  }
  .modal-footer{
    padding: 15px 5px;
    border-top: solid 1px #eee;
  }
  .modal-dialog-content{
    width: 100%;
    padding:10px 10px;
  }
  .modal table tr:hover{
    cursor: pointer;
  }
  .modal table.dialog-tools tr td{
    padding: 0px !important;
  }
  .modal-backdrop{
    background: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    height: 120%;
    top:0;
    left: 0;
    z-index:1100;
    display: none;
    overflow-y: auto;
    margin-bottom: 100px !important;
  }
  .modal-backdrop-context{
    background: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    height: 120%;
    top:0;
    left: 0;
    z-index:1100;
    display: none;
    overflow-y: auto;
    margin-bottom: 100px !important;
  }
/* Modal ------- end */
/* tab */
  .tabs-member{
    /* background: #6a9ae4; */
    /* margin: 0px; */
    /* margin-top: -30px; */
  }
  .tabs-member li a{
    color: rgba(255,255,255,.5) !important;
  }
  .tabs-member li a.active{
    color: rgba(255,255,255,1) !important;
    /* background: #ff8093 !important; */
    border-bottom: solid 2px #ff8093;
    transition: 1s;
  }
  .tabs-member .indicator{
    background: none !important;
    height: 0px;
    width: 0px;
  }
/* tab ------- end */
/* datepicker */
.datepicker-container{
  z-index: 9999999999 !important;
}
.picker__holder{
 background: rgba(207,216,220,.5) !important;
}
.picker__box{
 border: none !important;
 box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) !important;
}
.picker__date-display{
 background: linear-gradient(-90deg, #ff8093, #ffe6e9) !important;
}
.picker__day.picker__day--infocus.picker__day--today{
 color:#5babe8 !important;
 /* background: linear-gradient(-90deg, #857bd4, #5babe8) !important; */
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted{
 background:#FF8E9F !important;
 color: #fff !important;
}
.picker__today,.picker__close{
  color: #5babe8 !important;
}
.picker__close{
  display: none;
}
/* datepicker ------- end */
/* work-details */
.work-details{
  background : #ffe6e9;
  padding: 5px 15px;
  border-radius: 5px 5px 5px 5px;
}
/* work-details ------- end */
@media screen and (max-width: 575.98px) {
  .navbar-top ul li a{
    margin-top: 0px !important;
    padding-top: 5px !important;
    height: 65px !important;
  }
  #invite_dropdown li{
    height: auto !important;
    min-height: auto !important;
    /* padding:  0px !important; */
  }
  #invite_dropdown li a {
    height: auto !important;
    padding:  10px !important;
  }
  .lg-sidbar{
    display: none !important;
  }
  .md-sidebar{
    display: none !important;
  }
  .sidebar{
    display: none;
  }
  .sm-sidebar{
    display: block !important;
  }
  .navbar-top,.main{
    margin-left: 0px !important;
    width: 100% !important;
  }
  .modal-dialog{
    width: 90%;
    margin-left:5%;
  }
  .modal-dialog.lg{
    width: 90%;
    margin-left:5%;
  }
  .modal-dialog.sm{
    width: 90%;
    margin-left:5%;
  }
  .info-container{
   width: 100% !important;
  }
  .profile-image{
    margin-left:calc(57.5% - 128px) !important;
  }
  .lg-profile{
    display: none;
  }

}

@media screen and (max-width: 767.98px) {
    .modal-dialog{
      width: 80%;
      margin-left:10%;
    }
    .modal-dialog.lg{
      width: 80%;
      margin-left:10%
    }
    .modal-dialog.sm{
      width: 80%;
      margin-left:10%
    }
}

@media  screen and (max-width: 991.98px) {
  .upload-dialog-header{
    border-radius: 0px;
  }
  .navbar-top,.main{
    width: calc(100% - 60px);
    margin-left:60px;
  }
  .sidebar{
    width: 60px;
  }
  .side-menu-text{
    display: none;
  }
  .sidebar-logo{
    display:block;
  }
  .sidebar-logo-text{
    display: none;
  }
  .lg-sidbar{
    display: none;
  }
  .md-sidebar{
    display: block;
  }
  .sm-sidebar{
    display: none;
  }
 .file-container{
   width: calc(100%);
 }
 .file-head{
   width: calc(100%);
 }
 .file-head table tr td:nth-child(1){
   width: 10% !important;
 }
 .file-head table tr td:nth-child(3){
   width: 60% !important;
 }
 .file-head table tr td:nth-child(4){
   display: none;
 }
 .file-head table tr td:nth-child(5){
   display: none;
 }
 .file-head table tr .sm-menu{
   width: 20% !important;
   text-align: right;
   display: table-cell;
 }
 .file-head table tr .sm-menu a{
   color: #666;
   background: #f5f5f5;
   padding:7.5px 13.5px;
   border-radius: 50px;
   cursor: pointer;
 }
 .file-container table tr td:nth-child(1){
   width: 10% !important;
 }
 .file-container table tr td:nth-child(3){
   width: 60% !important;
 }
 .file-container table tr td:nth-child(4){
   display: none;
 }
 .file-container table tr td:nth-child(5){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(4){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(5){
   display: none;
 }
 .file-container#file_sharing table tr td:nth-child(6){
   display: none;
 }
 .file-container table tr .sm-menu{
   width: 20% !important;
   text-align: right;
   display: table-cell;
 }
 .file-container table tr .sm-menu a{
   color: rgba(0,0,0,.5);
   background: rgba(0,0,0,.05);
   padding:5.5px 13.5px;
   border-radius: 5px;
   cursor: pointer;
 }
 .info-container{
    width: 45%;
 }
}

@media screen and (max-width: 1199.98px) {

}
