
#wrapper {
  width: 100%;
}
.login-register {
  background: url(../../images/background/login.jpg) no-repeat center center / cover !important;
  height: 100%;
  position: fixed;
}
.login-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background: #fff;
}
.login-box {
  background: #ffffff;
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
}
.white-box {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 15px;
}
.white-box .box-title {
  margin: 0px 0px 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

#recoverform {
  display: none;
}

@media screen and (max-width: 575.98px) {
  .login-register {
    background: url(../../images/background/login.jpg) no-repeat center center / cover !important;
    height: 0% ;
  }
  .login-box {
    background: #ffffff;
    width: 100% !important;
    margin: 0 auto;
    margin-top: 30% !important;
  }
  .white-box {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768.98px) {
}

@media screen and (max-width: 991.98px) {
}

@media screen and (max-width: 1199.98px) {
  .login-box {
    background: #ffffff;
    width: 40%;
    margin: 0 auto;
    margin-top: 15%;
  }
  .white-box {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 15px;
  }
}
